/* Para o editor: 🌀
    Caro Quira Don, o fiz um issue no GitHub com o formato que iremos editar.
  As cores foram baseadas nas High Schools, paleta de cores bem selecionada. O site conterá:
  -Responsividade para dispositivos móveis;
  -Modo claro e escuro;
  -Versão distinta de tablet;                                         ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
  -Fluidez para versões antigas;                                      | Obs: publicar na branch "teste"! |
  -Compatibilidade com banco de dados;                                ´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´
  -Acessibilidade: Auidio-visual, letras grandes, alto contraste etc.
  Acho que só isso, qualquer coisa ou surgestão faça um issue no GitHub. Obrigado!*/

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #980f0f;
  margin: 0px;
  padding: 0px;
}