<form action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="user_name">Nome:</label>
  <input type="text" id="user_name" name="user[name]" value="<%= @user.name %>" required>

  <label for="user_email">Email:</label>
  <input type="email" id="user_email" name="user[email]" value="<%= @user.email %>" required>

  <input type="submit" value="Atualizar Usuário">
</form>