<form>
  <h1>Criar Novo Usuário</h1>
  <label for="username">Nome de Usuário:</label>
  <input type="text" id="username" name="user[username]" required>

  <label for="email">Email:</label>
  <input type="email" id="email" name="user[email]" required>

  <label for="password">Senha:</label>
  <input type="password" id="password" name="user[password]" required>

  <input type="submit" value="Criar Usuário">
</form>