:root, [data-bs-theme=light] {
  --bs-primary: #bf092a;
  --bs-primary-rgb: 191,9,42;
  --bs-primary-text-emphasis: #4C0411;
  --bs-primary-bg-subtle: #F2CED4;
  --bs-primary-border-subtle: #E59DAA;
  --bs-body-bg: #dcdcdc;
  --bs-body-bg-rgb: 220,220,220;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #bf092a;
  --bs-btn-border-color: #bf092a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #A20824;
  --bs-btn-hover-border-color: #990722;
  --bs-btn-focus-shadow-rgb: 245,218,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #990722;
  --bs-btn-active-border-color: #8F0720;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #bf092a;
  --bs-btn-disabled-border-color: #bf092a;
}

.btn-outline-primary {
  --bs-btn-color: #bf092a;
  --bs-btn-border-color: #bf092a;
  --bs-btn-focus-shadow-rgb: 191,9,42;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #bf092a;
  --bs-btn-hover-border-color: #bf092a;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #bf092a;
  --bs-btn-active-border-color: #bf092a;
  --bs-btn-disabled-color: #bf092a;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #bf092a;
}

