body {
  margin: 0;
  font-family: nunito, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F1F6FB;
}

.piaf-ufrn {
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.37);
  border-radius: 15px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 23rem; */
  padding: 1.5rem 0;
  width: 25rem;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.logo {
  margin: 2.5rem 0rem 0rem 2rem;
  height: 5.25rem;
}

.img {
  height: 58px;
  width: 56px;
  border-radius: 8px;
}

.button {
  background-color: #02274f;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  height: 3rem;
  width: 21.2rem;
  position: relative;
  margin-top: 2rem;
  font-size: 1rem;
  text-decoration: none;
}

.button:hover,
.button:focus {
  background-color: #031c38;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 20rem;
  border-radius: 8px;
  background-color: #f1f1f1;
  border-style: none;
  padding-left: 1rem;
  font-size: 1rem;
}

.logout {
  background-color: #02274f;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  height: 3rem;
  width: 18rem;
  position: relative;
  margin: 1rem;
  position: fixed;
  right: 0;
  font-size: 1.2rem;
}

.teimoso {
  text-align: center;
}
.header {
  background-color: #ffffff;
  height: 5rem;
  width: 100%;
}

.outputs {
  padding: 0 2rem;
  width: 100%;
}